<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <title>Sprints Digital House</title>
</head>
<body>
    <header id="header">
        <section class="Contenedor-Header-Img-barra">
            <div class="Contenedor-Imagen-LOGO">
            <img id="imagen-LOGO" src="./images/logo.jpg" alt="Logo El Rincon del Libro"></div>

            <div class="Contenedor-BarraDeBusqueda-Lupa">
            <input class="BarraDeBusqueda-Lupa" type="text" placeholder="Buscar Libros">
            <button class="Lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button></div>

            <div class="Contenedor-Icono-Notificacion">
            <button id="Icono-Notificacion" type="submit"><i class="fa-regular fa-bell"></i></button></div>

            <div class="Contenedor-Icono-Perfil">
            <button id="Icono-Perfil" type="submit"><i class="fa-regular fa-user"></i></button></div>

        </section>
        <section class="Contenedor-Lista">
            <ul class="Lista" type="none">
                <div id="Inicio">
                <li><a href="">INICIO</li></div>
                <div id="Biblioteca">
                <li><a href="">BIBLIOTECA</li></div>
                <div id="Perfil">
                <li><a href="">PERFIL</li></div>
                <div id="Nosotros">
                <li><a href="">NOSOTROS</li></div>
                <div id="PreguntasFrecuentes">
                <li><a href="">PREGUNTAS FRECUENTES</li></div>
                <div id="CarritoDeCompras">
                <li id="Icono-CarritoDeCompras"><a href=""></a><i class="fa-solid fa-cart-shopping"></i></li></div>
            </ul>
        </section>
    </header>
    <main class="Main">
        <div id="Contenedor-Carrusel">
            <div class="Carrusel" id="Carrusel-1">
                <div class="ContenidoCarrusel" id="InfoContenido-1">
                    <div id="InfoDelLibro">
                    <div id="Genero"><h4>Genero:</h4></div>
                    <div id="Titulo"><h4>Titulo:</h4></div>
                    <div id="Descripcion"><h4>Descripcion:</h4></div></div>
                    <div class="ContenedorDeImagen"><img src="/images/Cincuenta-Sombras-De-Grey.jpg" alt="Cincuentas Sombras de Grey"></div>
                </div>
                <div class="FlechasCarrusel">
                    <a href="#InfoContenido-4">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a href="#InfoContenido-2">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    
                </div>
            </div>
            <div class="Carrusel" id="Carrusel-2">
                <div class="ContenidoCarrusel" id="InfoContenido-2">
                    <div id="InfoDelLibro">
                        <div id="Genero"><h4>Genero:</h4></div>
                        <div id="Titulo"><h4>Titulo:</h4></div>
                        <div id="Descripcion"><h4>Descripcion:</h4></div></div>
                    <div class="ContenedorDeImagen"><img src="/images/Alicia-En-El-Pais-De-Las-Maravillas.jpg" alt="Alicia en el Pais de las Maravillas"></div>
                </div>
                <div class="FlechasCarrusel">
                    <a href="#InfoContenido-1">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a href="#InfoContenido-3">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="Carrusel" id="Carrusel-3">
                <div class="ContenidoCarrusel" id="InfoContenido-3">
                    <div id="InfoDelLibro">
                        <div id="Genero"><h4>Genero:</h4></div>
                        <div id="Titulo"><h4>Titulo:</h4></div>
                        <div id="Descripcion"><h4>Descripcion:</h4></div></div>
                    <div class="ContenedorDeImagen"><img src="/images/Harry-Potter-La-Piedra-Filosofal.jpg" alt="Harry Potter la Piedra Filosofal"></div>
                </div>
                <div class="FlechasCarrusel">
                    <a href="#InfoContenido-2">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a href="#InfoContenido-4">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="Carrusel" id="Carrusel-4">
                <div class="ContenidoCarrusel" id="InfoContenido-4">
                    <div id="InfoDelLibro">
                        <div id="Genero"><h4>Genero:</h4></div>
                        <div id="Titulo"><h4>Titulo:</h4></div>
                        <div id="Descripcion"><h4>Descripcion:</h4></div></div>
                    <div class="ContenedorDeImagen"><img src="/images/Quijote-De-La-Mancha.jpg" alt="Quijote de la Mancha"></div>
                </div>
                <div class="FlechasCarrusel">
                    <a href="#InfoContenido-3">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a href="#InfoContenido-1">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="ContadorPuntos">
            <a href="#InfoContenido-1"><i class="fa-regular fa-circle"></i></a>
            <a href="#InfoContenido-2"><i class="fa-regular fa-circle"></i></a>
            <a href="#InfoContenido-3"><i class="fa-regular fa-circle"></i></a>
            <a href="#InfoContenido-4"><i class="fa-regular fa-circle"></i></a>
        </div>

    <section>
        <div id="Calificaciones">
            <h3>Calificaciones:</h3>
            <div class="ContenedorDeTodasLasImagenesEnCalificaciones">
            <div class="ContenedorDeImagen-EnCalificaciones"><img src="/images/Quijote-De-La-Mancha.jpg" alt="Quijote de la Mancha"><div class="estrellas"><p>5</p><i class="fa-solid fa-star"></i></div></div>
            <div class="ContenedorDeImagen-EnCalificaciones"><img src="/images/Harry-Potter-La-Piedra-Filosofal.jpg" alt="Harry Potter la Piedra Filosofal"><div class="estrellas"><p>4.9</p><i class="fa-solid fa-star"></i></div></div>
            <div class="ContenedorDeImagen-EnCalificaciones"><img src="/images/Alicia-En-El-Pais-De-Las-Maravillas.jpg" alt="Alicia en el Pais de las Maravillas"><div class="estrellas"><p>4.8</p><i class="fa-solid fa-star"></i></div></div>
            <div class="ContenedorDeImagen-EnCalificaciones"><img src="/images/Cincuenta-Sombras-De-Grey.jpg" alt="Cincuentas Sombras de Grey"><div class="estrellas"><p>4.4</p><i class="fa-solid fa-star"></i></div></div></div>
        </div>
    </section>
    </main>
    <footer>
        <div class="Contenedor-Footer">
            <div id="Suscribirse"><p>Subcribirse</p></div>
            <div id="TerminosDeUso"><p>Terminos De Uso</p></div>
            <div id="PolitcasDePrivacidad"><p>Politicas De Privacidad</p></div>
            <div id="Contactos"><p>Contactos</p></div>
        </div>
        <h4 id="derechos-reservados">2023 El Rincon Del Libro Inc. Todos los derechos reservados</h4>
    </footer>
</body>
</html