*{
    box-sizing: border-box;
    border: 0px;
    padding: 1px;
}
body{
    border: solid 1px black;
}
/*********************** HEADER ******************/
#header{
     border: solid 1px black;
     font-family: 'Roboto', sans-serif;
     font-size: 12px;
     padding: 10px;
     max-width: 100%;
}
#imagen-LOGO{
    width: 120px;
    
}
.Contenedor-Imagen-LOGO{
    width: 25%;
    display: flex;
    justify-content: center;
}
.Contenedor-BarraDeBusqueda-Lupa{
    width: 35%;
    display: flex;
    justify-content: center;
}
.BarraDeBusqueda-Lupa{
    width: 88%  ;
    height: 30px;
    margin: auto;
    border: solid 1px black;
}
.Lupa{
    height: 30px;
    width: 22%;
    margin: auto;
    border: solid 1px black;
}
#Icono-Notificacion{
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: white;
}
.Contenedor-Icono-Notificacion{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
#Icono-Perfil{
    width: 80px;
    height: 80px;
    font-size: 60px;
    border-radius: 50%;
    background-color: white;
}
.Contenedor-Icono-Perfil{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.Contenedor-Header-Img-barra{
     width: 100%;
     border: solid 1px black;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
}
/************** LISTA-HEADER *****************/

.Contenedor-Lista{
    border: solid 1px black;
}
.Lista{
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin: auto;
    font-size: center;
}

#Inicio{
    border: solid 5px black;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Biblioteca{
    border: solid 5px black;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Perfil{
    border: solid 5px black;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Nosotros{
    border: solid 5px black;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#PreguntasFrecuentes{
    border: solid 5px black;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#CarritoDeCompras{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    width: 100px;
}
#Icono-CarritoDeCompras{
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

/************************ Main ***************************/

.detalle{
    padding: 15px;
}

main img{
    width: 20vw;
}

main h3{
    font-size: 2vw;
}

.informacion{
    display: flex;
    width: 90vw;
}

.info{
    display: flex;
    padding: 2vw 5vw;
    flex-wrap: wrap;
    align-items: center
}

.info p{
    outline: 1px solid black;
    height: 4vw;
    width: 20vw;
    font-size: 1.2vw;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    font-weight: 1000;
}

.prices{
    display: flex;
}

p.carro{
    outline: 1px solid transparent;
    text-decoration: underline;
}

p.tags{
    width: 43vw;
    text-align: center;
}

/************************ Footer *************************/
.Contenedor-Footer{
    border: solid 1px black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Suscribirse{
    width: 25%;
    display: flex;
    justify-content: center;
}
#TerminosDeUso{
    width: 25%;
    display: flex;
    justify-content: center;
}
#PolitcasDePrivacidad{
    width: 25%;
    display: flex;
    justify-content: center;
}
#Contactos{
    width: 25%;
    display: flex;
    justify-content: center;
}

#derechos-reservados{
    font-size: center;
    margin: auto;
    display: flex;
    justify-content: center;
}